@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #90b0c6;
}

.App {
  text-align: center;
}

.titulo-contenedor {
  margin-bottom: 20px;
  margin-top: 0px;
  background-color: #393e56;
}

.titulo {
  font-size: 4rem;
  font-family: 'Bungee Inline', cursive;
  color: white;
}

.nav {
  background-color: slategray;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.digimones {
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
